
 #box{
        height: 150px;
        width: 300px;
        background-color: grey;
        border: 2px dotted black;
        margin-top: 20px;
        margin-right: 1em;
        margin-bottom: 40px;
        margin-left: 2em;
        padding: 1em;
    }

    #b{
        margin: 5px;
        height: 100px;
        width: 100px;
        background-color: pink;
        border: 2px solid black;
        border-radius: 50%;
    }

    #a{
margin: 5px;
       height: 100px;
        width: 100px;
        background-color: pink;
        border: 2px solid black;
        border-radius: 50%;
    }

 #c3{
    
       height: 100px;
        width: 100px;
        background-color: pink;
        border: 2px solid black;
        border-radius: 50%;
    }

    #que2{
    display: flex;
    padding: 5%;    }

    #list{
        display:inline ;
    }